<ag-grid-angular
  aria-label="Funding report"
  class="funding-grid"
  data-testid="funding-grid"
  [animateRows]="false"
  [columnDefs]="columnDefs()"
  [defaultColDef]="defaultColDef"
  domLayout="normal"
  [enableCellTextSelection]="true"
  [ensureDomOrder]="true"
  [getRowClass]="getRowClass"
  [getRowId]="getRowId"
  [headerHeight]="30"
  [rowBuffer]="12"
  [rowData]="rowData()"
  [rowHeight]="20"
  [suppressContextMenu]="true"
  [suppressMovableColumns]="true"
  [theme]="theme"
></ag-grid-angular>
